;
; BIND reverse data file for local loopback interface
;
$TTL	604800
@	IN	SOA	ns1.{{ zone }}. admin.{{ zone }}. (
			      3		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;

; name servers - NS records
      IN      NS      ns1.{{ zone }}.

; PTR Records
4   IN      PTR     ns1.{{ zone }}.             ; {{ infra_vm_ip }}
1   IN      PTR     opnsense.{{ zone }}.        ; {{ opnsense_ip }}
2   IN      PTR     rackhd.{{ zone }}.          ; {{ rackhd_ip }}
3   IN      PTR     infra-server.{{ zone }}.    ; {{ infra_server_ip }}
