acl "trusted" {
	{{ dns }};		# ns1
	{{ opnsense_ip }};		# opnsense host vm
	{{ rackhd_ip }};		# rackhd host vm
	{{ infra_server_ip }};		# infra-server host physical server
};

options {
	directory "/var/cache/bind";

	recursion yes;                 # enables resursive queries
	allow-recursion { trusted; };  # allows recursive queries from "trusted" clients
	listen-on { {{ dns }}; };     # ns1 private IP address - listen on private network only
	allow-transfer { none; };      # disable zone transfers by default

	forwarders {
		8.8.8.8;
		8.8.4.4;
	};

	dnssec-validation auto;

	auth-nxdomain no;    # conform to RFC1035
	listen-on-v6 { any; };
};
