{
    "dell":{
        "configServerPath": "/api/smi/uri",
        "wsmanCallbackUri": "http://{{ rackhd_ip }}:9988/api/2.0/wsmanCallback/_IDENTIFIER_",
        "credentials": {
            "userName": "rackhd",
            "password": "rackhd"
        },
        "shareFolder": {
            "address": "{{ rackhd_ip }}",
            "shareType": 2,
            "shareName": "share",
            "username": "admin",
            "password": "admin"
        }
    }
}
